<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" th:href="@{/navbar.css}" href="../static/navbar.css">
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css">
    <link rel="stylesheet" th:href="@{/wishlist-items.css}" href="../static/wishlist-items.css">
    <title>Wishlist items</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <img src="/images/peterp.png" alt="logo">
                <p class="title">Ønskeøen</p>
            </div>
        </nav>
    </header>
    <main>
        <section id="item-wrapper">
            <h1>Wishlist items:</h1>
            <div class="item" th:each="item: ${items}">
                <div class="item-name">
                    <p>Name:</p>
                    <span class="item-from-db" th:text="${item.getName()}"></span>
                </div>
                <div class="item-price">
                    <p>Price:</p>
                    <span class="item-from-db" th:text="${item.getPrice()}"></span>
                </div>

                <div class="wishlist-buttons">
                    <button class="general-button" type="button">
                        <a th:href="@{/wishlist-update-item?id={id}(id=${item.getId()})}">Update</a>
                    </button>
                    <button class="general-button" type="button">Delete</button>
                </div>
            </div>
        </section>
    </main>

</body>
</html>